body {
  background: #111111;
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
h1,
p {
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.guessField {
  border-radius: 20px;
  width: 60px;
  height: 20px;
  margin: 0 1rem;
  padding: 5px;

  text-align: center;
}

.guessSubmit {
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 5px;
  width: 80px;
  height: 35px;
  background: #ea907a;
}
